@import "tailwindcss";

@theme {
  --color-primary: #15375a;
  --color-secondary: #0d2339;
  --color-white: #ffffff;
  --color-third: #fab85b;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 0.15s ease-in;
}
